/* css for Unit 3 */

/* create a background image*/
* {margin:0; padding:0; box-sizing:border-box;}
body {
	color: #000;
	font-family: Arial, sans-serif;
}
#intro {
	background: url("../images/Career.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 45rem;
	font-size: 1.25em;
}
#intro div {
    position:absolute;
    right:5em;
    top:10em;
}
h1 {
	font-size: 2.5em;
	/* color: #ffc800; */
	text-align: center;
}
#Slogan{
	font-style: italic;
	font-size: 150%;
	padding: 0px 25px 0px 25px;
	text-align: center;
}
#about {
	text-align: center;
	font-size: 125%;
}

ul {
	text-align: center;
	/* list-style-type: none; */
	font-size: 125%;
	/* list-style-position: inside; */
	display: inline-block;
}
img{
	display: inline-block;
	margin: auto;
	/* border: 3px solid #73AD21; */
	/* padding: 45px; */
	margin: 0 45px;
}
section {
    padding: 5em 0;
}
section#contact {
    background: purple;
    color: #fff;
}
